body { text-align: center;
      background-image: url("FONDO.jpg");
      background-size: cover;
    }

.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
@media (min-width: 768px){
    .imgsmall{
   display: none;
      }
}
  #small{
          width:100%;
    height:auto;
  }
.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  max-width:100%;
  height:auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

#conjuntoLogin {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 330px;
    margin: 50px auto;
}


#conjuntoLogin h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

#conjuntoLogin .form-control {
    background-color: #f8f9fa;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

#conjuntoLogin .btn {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

#conjuntoLogin .btn-primary {
    background-color: #007bff;
    border: none;
}

#conjuntoLogin .btn-primary:after {
    content: '→';
    position: absolute;
    right: 15px;
    font-weight: bold;
}

.login {
  height: 150px;
  position: absolute;
  left: 50%;
  bottom: 50px;
 transform: translateX(-50%); /* Desplaza la imagen hacia la izquierda la mitad de su ancho para centrarla */

}
.button-ingresar {
    background-color: #0078d4; 
    color: white; 
    border: none;
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.button-ingresar:hover {
    background-color: #005a9e; 
}


#containerLogin {
  position: absolute;
  bottom: 0px;
}

#containerJovenes {
  position: absolute;
  bottom: 0px;
}

.product-images img {
    width: 100%; 
    height: auto; 
    display: block; 
    margin-bottom: 10px; 
    max-width: 80px; /* Ajusta este valor al tamaño deseado para tus miniaturas */
}

#comments-container {
    margin-top: 10px; /* Reduce el espacio superior */
    padding: 10px; /* Espaciado interno */
    background-color: #f8f9fa; 
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Limitar el ancho máximo */
   max-height: 200px; /* Ajusta la altura máxima según sea necesario */
    overflow-y: auto;
}

.comment {
    border-bottom: 1px solid #ddd; /* Línea divisoria entre comentarios */
    padding: 10px; /* Reduce el padding */
    margin-bottom: 5px; /* Reduce el espacio entre comentarios */
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 5px;
}

/* Estilo para el nombre de usuario */
.comment p strong {
    color: #007bff; /* Color destacado para el usuario */
    font-weight: 600;
}

/* Estilo para el texto del comentario */
.comment p:nth-child(3) {
    font-style: italic; /* Comentario en cursiva */
    color: #343a40; /* Color oscuro */
}

/* Estilo para la fecha */
.comment p:nth-child(4) {
    color: #6c757d; /* Color gris para la fecha */
    font-size: 0.9em;
    text-align: right;
}


.star {
  color: #162e26;;
  cursor: pointer;
  font-size: 24px;
}

.star:hover,
.star.checked {
  color: gold;
}

#comment-rating {
  width: 100%; /* Ocupa todo el espacio disponible */
  max-width: 500px; /* Ancho máximo de 500px */
  padding: 60px; /* Aumenta el padding para hacerlo más grande */
  font-size: 18px; /* Aumenta el tamaño del texto */
}

.rating {
  margin: 20px;
}

#ratingForm {
  width: 100%;
}

.rating-content {
  display: flex;
  justify-content: space-between; /* Espacio entre elementos a la izquierda y a la derecha */
  align-items: center; /* Alineación vertical de los elementos */
  padding-right: 400px;
}

.rating-group-left {
  display: flex;
  flex-direction: column;
}

.rating-control {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  margin-top: 5px;
}

.ratingStar {
  display: flex;
  gap: 5px; /* Espacio entre las estrellas */
}
/* Estilos para el switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Estilos para modo oscuro */
.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode .navbar {
  background-color: #333;
}

.dark-mode .card {
  background-color: #333;
  color: white;
}
